# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build Artifacts
out/
build/

# Python
.env
__pycache__/

# VSCode
.vscode/

# Auto generated code
embedded/data/include/data.h

# editor assist
compile_commands.json
build/compile_commands.json
